services:
 catalogdb:
  container_name: catalogdb
  environment:
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=postgres
   - POSTGRES_DB=CatalogDb
  restart: always
  ports:
   - "5432:5432"
  volumes:
   - postgres_catalog:/var/lib/postgresql/data/
  healthcheck:
   test: ["CMD-SHELL", "pg_isready -U postgres"]
   interval: 5s
   timeout: 5s
   retries: 5

 basketdb:
  container_name: basketdb
  environment:
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=postgres
   - POSTGRES_DB=BasketDb
  restart: always
  ports:
   - "5433:5432"
  volumes:
   - postgres_basket:/var/lib/postgresql/data/
  healthcheck:
   test: ["CMD-SHELL", "pg_isready -U postgres"]
   interval: 5s
   timeout: 5s
   retries: 5

 distributedcache:
  container_name: distributedcache
  restart: always
  ports:
   - "6379:6379"
  healthcheck:
   test: ["CMD", "redis-cli", "ping"]
   interval: 5s
   timeout: 3s
   retries: 5

 orderdb:
  container_name: orderdb
  environment:
   - ACCEPT_EULA=Y
   - SA_PASSWORD=SqlServer123!
  restart: always
  volumes:
   - mssql_order:/var/opt/mssql
  ports:
   - "1433:1433"
  healthcheck:
   test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P SqlServer123! -Q 'SELECT 1' -C -No || exit 1"]
   interval: 10s
   timeout: 5s
   retries: 5
   start_period: 30s

 messagebroker:
  container_name: messagebroker
  hostname: eshop-mq
  environment:
   - RABBITMQ_DEFAULT_USER=eshop
   - RABBITMQ_DEFAULT_PASS=eshop$#123456
  restart: always
  ports:
  - "5672:5672"
  - "15672:15672"
  healthcheck:
   test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
   interval: 10s
   timeout: 5s
   retries: 5
   start_period: 20s

 catalog.api:
  environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_HTTP_PORTS=8080
    # - ASPNETCORE_HTTPS_PORTS=8081
    - ConnectionStrings__DefaultConnection=Host=catalogdb;Port=5432;Database=CatalogDb;Username=postgres;Password=postgres
  depends_on:
   catalogdb:
    condition: service_healthy
  ports:
    - "5000:8080"
    - "5050:8081"
  volumes:
    - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

 basket.api:
  environment:
   - ASPNETCORE_ENVIRONMENT=Development
   - ASPNETCORE_HTTP_PORTS=8080
   # - ASPNETCORE_HTTPS_PORTS=8081
   - ConnectionStrings__DefaultConnection=Host=basketdb;Port=5432;Database=BasketDb;Username=postgres;Password=postgres
   - ConnectionStrings__RedisConnection=distributedcache:6379
   - gRPCSetting__DiscountUrl=http://discount.grpc:8080
   - MessageBroker__Host=amqp://messagebroker:5672
   - MessageBroker__UserName=eshop
   - MessageBroker__Password=eshop$#123456
  depends_on:
   basketdb: 
    condition: service_healthy
   distributedcache :
    condition: service_healthy
   messagebroker:
    condition: service_healthy

  ports:
   - "5001:8080"
   - "5051:8081"
  volumes:
   - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
   - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
   - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
   - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

 discount.grpc:
  environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_HTTP_PORTS=8080
    # - ASPNETCORE_HTTPS_PORTS=8081
    - ConnectionStrings__sqlite=Data Source=discountdb
  ports:
    - "5002:8080"
    - "5052:8081"
  volumes:
    - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

 ordering.api:
  environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_HTTP_PORTS=8080
    - ConnectionStrings__DefaultConnection=Server=orderdb;Database=OrderDb;User Id=sa;Password=SqlServer123!;Encrypt=False;TrustServerCertificate=True
    - MessageBroker__Host=amqp://messagebroker:5672
    - MessageBroker__UserName=eshop
    - MessageBroker__Password=eshop$#123456
    # - ASPNETCORE_HTTPS_PORTS=8081
  depends_on:
   orderdb: 
    condition: service_healthy
   messagebroker:
    condition: service_healthy
  ports:
    - "5003:8080"
    - "5053:8081"
  volumes:
    - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
